<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BezierPaths.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2D5D8B61BE7A76E00089DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D5D8CF1BE7A76F00089DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D5D8DA1BE7A76F00089DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
